In [2]:
import sqlalchemy as db
from sqlalchemy import create_engine
import pandas as pd

In [8]:
SortData = pd.read_csv("C:/Users/Kirtan verma/Desktop/SortTestData1.csv")

In [9]:
engine = db.create_engine("sqlite:///:memory:")

In [10]:
engine = create_engine('sqlite:///:memory:')
SortData.to_sql("data_table", engine)

In [14]:
# Query 1: Run query with 2 Group by clauses, 1 nested select and 1 sum operation

Query1 = pd.read_sql_query("SELECT Region, Sales_Channel, SUM(Total_Profit) FROM (SELECT * FROM data_table WHERE Order_Priority = \"H\") GROUP BY Region, Sales_Channel", engine)
print(Query1)

                         Region Sales_Channel  SUM(Total_Profit)
0                          Asia        Online             403845
1         Australia and Oceania       Offline             769722
2         Australia and Oceania        Online               5825
3                        Europe        Online             521530
4  Middle East and North Africa       Offline             422938
5            Sub-Saharan Africa       Offline              48201
6            Sub-Saharan Africa        Online             147688

In [19]:
# Query 2: Run query with 2 sort clauses, 1 grouping and 1 average operation

Query2 = pd.read_sql_query("SELECT Region, Sales_Channel, AVG(Total_Revenue) FROM (SELECT * FROM data_table) GROUP BY Region ORDER BY Region, Total_Cost", engine)
print(Query2)

                              Region Sales_Channel  AVG(Total_Revenue)
0                               Asia        Online        1.548772e+06
1              Australia and Oceania        Online        6.901638e+05
2  Central America and the Caribbean        Online        7.958146e+05
3                             Europe       Offline        1.382949e+06
4       Middle East and North Africa        Online        1.509750e+06
5                 Sub-Saharan Africa        Online        9.010290e+05